* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
}

.wrapper {
    width: 100%;
}

.container-fluid {
    padding: 0;
}

ul {
    display: inline-block;
}

#list li {
    margin-left: 5%;
    list-style: unset;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

ul.hidden-links {
    display: none;
}

img.side-img {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    margin-left: 30%;
    background-color: gray;
    transition: all .5s ease;
}

.img-body {
    background-color: gray;
}

.show {
    left: 0px;
}

li#open {
    display: block;
    margin-left: 0px;
}

#close {
    display: none;
    position: absolute;
    left: 300px;
}

.close {
    display: none;
}

h2.side-header {
    text-align: center;
    font-family: cursive;
}

#sidebar {
    z-index: 1;
    position: absolute;
    width: 0px;
    height: 100%;
    background-color: rgba(45, 62, 134, 0.705);
    transition: all .5s ease;
    overflow-y: hidden;
    opacity: 0.7;
}

.page-content {
    width: 100%;
    position: absolute;
}


#sidebar ul li {
    padding: 5px;
    margin-left: 5px;
}


#sidebar ul li:hover {
    background-color: rgba(45, 62, 134, 0.705);
    border-left: 2px solid red;
    padding-left: 10px;
    transition: all 1s ease;
}

#sidebar ul li a:hover {
    padding-left: 10px;
    transition: all 1s ease;
    text-decoration: none;
}

#sidebar ul li a {
    color: rgba(0, 0, 0, 0.589);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#side-btn  {
    position: fixed;
    left: 0px;
}


#sidebar ul li a span:hover {
    position: absolute;
    transform: translateY(-10%) rotate(-180deg);
    transition: transform 0.4s;
} 


.sidebar-wrapper ul li {
    padding: 10px 10px;
}


ul.sidebar-nav {
    padding: 0;
    margin-left: 3px;
    padding: 5px;
}

a.nav-link {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.top-icons {
    margin-left: 30px;
}

.page-main {
    padding-left: 300px;
}

.show {
    display: block;
}

nav ul .under-list {
    display: none;
}

a.side-lnk {
    padding: 0%;
}

li.toggle-navi {
    height: 30px;
}

.blue-top {
    background-color: rgb(62, 62, 175);
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0px;
}


.quick-search {
    height: 20px;
}

input#quick-search {
    border: 0;
    background-color: transparent;
    margin-left: 45%;
} 

form.quick-search {
    background-color: blue;
}

.topend-links ul.end-links {
    display: inline;
}

ul.end-links {
    margin-left: 70%;
}

ul.end-links li {
    display: inline-block;
    padding: 0px;
}

.links {
    padding: 0;
}

.hide-user {
    display: none;
}

.secondary-nav {
    background-image: linear-gradient(to right,rgb(155, 85, 85), rgb(89, 89, 161));
}

.secondary-nav h3 {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Todo-sec {
    margin-top: 5px;
    margin-left: 10%;
}

#dateTime {
    width: 80px;
}

img.Todo-img {
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.mylist {
    padding: 0%;
    margin: 0%;
    border: 1px solid;
}


.footer-row {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 5px;
    margin-top: 40%;
}

marquee {
    color: white;
}

.social-links {
    margin-left: 50%;
}

.index p {
    margin-left: 30%;
}

.header {
    background-image: url("Images/downlooad.jpg");
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.header h4 {
    color: white;
    font-weight: 900;
} 

p#date {
    color: white;
    margin-top: 220px;
    font-size: 20px;
}


form.main-form {
    margin-top: 10%;
    padding: 2px 2px;
    background-color: rgba(0, 0, 0, 0.26);
}


.update-btn {
    display: none;
} 

.cols {
    border: 1px solid;

    font-family: 'Times New Roman', Times, serif;
}

.colserial {
    margin-top: 2px;
    border: 1px solid;
}



.status-control {
    width: 20%;
    padding: 0px;
    display: inline;
}

button.addIt-btn {
    width: 5%;
    border-radius: 90px;
    background-color: rgb(190, 65, 65);
    box-shadow:  1px -2px 1px 0px rgba(0, 0, 0, 0.37);
}

button.addIt-btn:hover {
    transition: all .5s ease;
    background-color: rgba(44, 179, 44, 0.747);
    box-shadow:  1px -2px 1px 0px rgba(0, 0, 0, 0.37);
}

.hide {
    display: none;
}

#dateT {
    display: inline;
}

input {
    margin: 0;
    width: 25%;
}

#statusT {
    margin-left: 1px;
    margin-top: 10px;
}

.delete-btn {
    width: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
}

.update-btn {
    background-color: green;
}

#edit-btn {
    width: 30px;
    margin-left: 1%;
    border-radius: 5px;
    background-color: green;
}

#completed {
    text-decoration: line-through;
}


table#dataTable {
    background-color: rgba(131, 126, 126, 0.082);
    width: 100%;
    border-left: 1px solid black;
    border-collapse: unset;
    border-style: groove;
}



.table-header {
    width: 100%;
    background-image: linear-gradient(to right, rgba(156, 88, 88, 0.938), rgba(29, 29, 151, 0.726));
}

td.cols-head {
    padding-right: 3.5px;
    border-right: 1px solid black;
}


#row {
    margin-bottom: 10px white;
}

.Todo-sec {
    height: 700px;
}

.clr-btn {
        margin-left: 92%;
        background-image: linear-gradient(to right, rgba(156, 88, 88, 0.938), rgba(29, 29, 151, 0.726));    
        cursor: pointer;
        font-size: 15px;
        text-align: center;
        height: 34px;
        width: 40px;
        border-radius: 50px;
        margin-bottom: 1px;
}

.clr-btn:hover {
    transform: rotate(180deg);
}

.clr-col {
    background-color: rgba(126, 124, 134, 0.712);
    margin-left: 15px;
    margin-right: 15px;
}

form {
    background-color: rgba(0, 0, 0, 0.26);
}

tr {
    border-left: 2px solid green;
    /* background-color: chartreuse; */
}


@media screen and (max-width: 780px){
    #sidebar {
        position: fixed;
        width: 0px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.39);
    }

    .header {
        background-image: url("Images/downlooad.jpg");
        background-size: 900px;
        height: 100%;
        background-repeat: no-repeat;
    }

    .clr-btn {
        margin-left: 92%;
        background-image: linear-gradient(to right, rgba(156, 88, 88, 0.938), rgba(29, 29, 151, 0.726));    
        cursor: pointer;
        font-size: 15px;
        text-align: center;
        height: 34px;
        width: 40px;
        border-radius: 50px;
        margin-bottom: 1px;
    }

    input {
        margin: 0;
        width: 23%;
        border-style: ridge;
    }
    
    button.addIt-btn {
        width: 5%;
        border-radius: 30px;
   }

    #close {
        display: none;
        position: relative;
        left: 300px;
    }

    .blue-top {
        background-color: rgb(62, 62, 175);
        height: 25px;
    }
    
    form.quick-form {
        display: none;
    }

    .topend-links ul.end-links {
        display: inline;
    }

    ul.end-links li {
        display: none;
    }

    .secondary-nav h3 {
        margin-left: 50px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    
    .second-sec img {
        margin-left: 40%;
        height: 200px;
    }
    
    .fourth-row img {
        height: 290px;
        width: 60%;
        margin-left: 20%;
        transition: all .5s ease;
    }

    .secondary-nav h3 {
        margin-left: 20%;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
     #selectV {
        width: 20%;
    }

    .sixth-sec img {
        height: 300px;
        width: 360px;
    }

    .frames-col {
        margin-left: 20%;
    }

    .index p {
        margin-left: 20%;
    }

    #date {
        margin-top: 30%;
        color: white;
    }
    
    .Todo-sec {
        margin-top: 5px;
        margin-left: 10%;
        margin-right: 10%;
        height: 700px;
        
    }

}

@media screen and (max-width: 590px){
    .hide-user {
        margin-left: 90%;
        display: inline-block;
    }
    
    #selectV {
     width: 20%;
     height: 24px;
    }

    input {
        margin: 0;
        width: 24%;
        height: 24px;
    }

    .clr-btn {
            margin-left: 90%;
            background-image: linear-gradient(to right, rgba(156, 88, 88, 0.938), rgba(29, 29, 151, 0.726));    
            cursor: pointer;
            font-size: 15px;
            text-align: center;
            height: 34px;
            width: 40px;
            border-radius: 50px;
            margin-bottom: 1px;
    }
};
