* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
}

.wrapper {
    width: 100%;
}

.container-fluid {
    padding: 0;
}

ul {
    display: inline-block;
}

#list li {
    margin-left: 5%;
    list-style: unset;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

ul.hidden-links {
    display: none;
}

img.side-img {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    background-color: gray;
    transition: all .5s ease;
    display: block;
    margin: 0 auto;
}

.img-body {
    background-color: gray;
}

.show {
    left: 0px;
}

li#open {
    display: block;
    margin-left: 0px;
}

#close {
    display: none;
    position: fixed;
    width: 3rem;
    left: 300px;
    height: 4rem;
    z-index: 999999;
    font-size: 2rem;
    cursor: pointer;
}

.close {
    display: none;
}

h2.side-header {
    text-align: center;
    font-family: cursive;
}

#sidebar {
    z-index: 99999;
    position: fixed;
    width: 0px;
    height: 100%;
    background-color: rgba(85, 79, 79, 0.74);
    transition: all .5s ease;
    overflow-y: hidden;
}

.page-content {
    z-index: -9999;
    width: 100%;
    position: absolute;
    background-image: url('images/abstract-geometric-shape-connection-with-3d-cubes-background_42705-105.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


#sidebar ul li {
    padding: 5px;
    margin-left: 5px;
}


#sidebar ul li:hover {
    background-color: rgba(45, 62, 134, 0.705);
    border-left: 2px solid red;
    padding-left: 10px;
    transition: all 1s ease;
}

#sidebar ul li a:hover {
    padding-left: 10px;
    transition: all 1s ease;
    text-decoration: none;
}

#sidebar ul li a {
    color: rgba(0, 0, 0, 0.589);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#side-btn  {
    position: fixed;
    left: 0px;
}


#sidebar ul li a span:hover {
    position: absolute;
    transform: translateY(-10%) rotate(-180deg);
    transition: transform 0.4s;
} 


.sidebar-wrapper ul li {
    padding: 10px 10px;
}


ul.sidebar-nav {
    padding: 0;
    margin-left: 3px;
    padding: 5px;
}

a.nav-link {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.top-icons {
    margin-left: 30px;
}

.page-main {
    padding-left: 300px;
}

.show {
    display: block;
}

nav ul .under-list {
    display: none;
}

a.side-lnk {
    padding: 0%;
}

li.toggle-navi {
    height: 30px;
    position: relative;
    cursor: pointer;

}

.blue-top {
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.938), rgb(70, 64, 64)); */
    background-color: rgb(0, 0, 0);
    opacity: .8;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0px;
}

form.quick-form {
    margin-left: 20%;
    height: 20px;
    width: 720px;
}

.quick-search {
    height: 20px;
}

input#quick-search {
    border: 0;
    background-color: transparent;
    margin-left: 45%;
} 

form.quick-search {
    background-color: blue;
}

.topend-links ul.end-links {
    display: inline;
}

ul.end-links {
    margin-left: 70%;
}

ul.end-links li {
    display: inline-block;
    padding: 0px;
}

.links {
    padding: 0;
}

.hide-user {
    display: none;
}

.secondary-nav {
    background-color: rgba(45, 45, 185, 0.712);
    opacity: .9;
    margin-right: 0px!important;
    background-image: linear-gradient(to right,rgba(85, 79, 79, 0.74), rgb(37, 37, 148)); */
}

.secondary-nav h3 {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Todo-sec {
    margin-top: 5px;
    box-shadow: 1px;
}


#dateTime {
    width: 15%;
}

img.to-img {
    height: 50px;
}

img.Todo-img {
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.top-bar h3 {
    margin-left: 18%;
}

.mylist {
    padding: 0%;
    display: block;
    margin: 0 auto;
    border: 1px solid;
    box-shadow: 3px 4px 1px 2px rgba(0, 0, 0, 0.815);
    max-width: 500px;
}


.footer-row {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 5px;
    margin-top: 40%;
    position: relative;
}

marquee {
    color: white;
}

.social-links {
    margin-left: 50%;
}

.index p {
    margin-left: 30%;
}

.header {
    background-image: url("Images/checklist4.jpg");
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.header h4 {
    margin-top: 10px;
    margin-left: 10px;
    color: rgba(15, 14, 14, 0.822);
    font-weight: 900;
    font-family: cursive;
} 

p#date {
    color: rgba(15, 14, 14, 0.822);
    font-weight: 900;
    font-family: cursive;
    margin-top: 220px;
    font-size: 20px;
}

form.main-form {
    margin-top: 10%;
    padding: 2px 2px;
    background-color: rgba(0, 0, 0, 0.384);
    
}


.update-btn {
    display: none;
    position: relative;
} 

table#dataTable {
    text-align: center;
    width: 100%;
    border-bottom: 3px solid rgb(11, 11, 102);
    border-style: groove;
    border-radius: 1%;
}


th.cols-head {
    font-weight: lighter;
    border-right: 1px solid white;
    border-bottom: 1px solid red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.table td, .table th {
     padding: 0rem; 
     vertical-align: middle; 
     border-top: 1px solid #dee2e6;
}

.cols {
    background-color: rgb(211, 228, 211);
    color: rgba(10, 10, 10, 0.699);
    border-bottom: 1px solid white;
    border-top: 2px solid white;
    transition: all .5s ease;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: .9;
    height:50px;
}

.col-status {
    color: rgb(92, 23, 23);
}

.table-col {
    padding-left: 3%;
    padding-right: 3%;
}

tr {
    transition: all .5s ease;
    height: 10%;
    border-bottom: white;
}

.columnL{
    border-right: 2px solid rgb(228, 18, 18);
}

.status-control {
    padding: 0px;
    display: inline;
}

button.addIt-btn {
    height: 40px;
    width: 45px;
    border-radius: 50%;
    opacity: .9;
    background-color: rgba(39, 39, 145, 0.712);
    box-shadow:  1px -2px 1px 0px rgba(0, 0, 0, 0.459);
}

button#list-toggle {
    height: 40px;
    width: 45px;
    border-radius: 50%;
    opacity: .9;
    background-color: rgba(39, 39, 145, 0.712);
    box-shadow:  1px -2px 1px 0px rgba(0, 0, 0, 0.459);
}

button.addIt-btn:hover {
    transition: all .5s ease;
    background-color: rgba(44, 179, 44, 0.747);
    box-shadow:  1px -2px 1px 0px rgba(0, 0, 0, 0.37);
}

.hide {
    display: none;
}

#dateT {
    display: inline;
}

input {
    margin: 0;
    width: 25%;
}

.delete-btn {
    width: 30px;
    border-radius: 5px;
    background-color: rgba(204, 40, 40, 0.863);
    color: white;
}

.update-btn {
    background-color: rgb(38, 104, 47);
    position: relative;
    left: 15%;
}

#edit-btn {
    width: 30px;
    border-radius: 5px;
    background-color: rgb(38, 104, 47);
    position: relative;
    left: 10%;
}

#completed {
    text-decoration: line-through;
}


.table-header {
    width: 100%;
    background-image: linear-gradient(to right, rgba(5, 5, 61, 0.322), rgba(29, 29, 73, 0.062));
}


.Todo-sec {
    height: 700px;
}

.clr-btn {
    font-weight: bolder;
    cursor: pointer;
    font-size: 150%;
    text-align: right;
    height: 30px;
    width: 50px;
    border-radius: 50px;
    margin-bottom: 1px;
}

.clr-btn:hover {
    transform: rotate(90deg);
}


form {
    background-color: rgba(0, 0, 0, 0.26);
}

.cols-head {
    border: 0px;
}


div#main-input {
    margin-left: 5%;
    transition: all .6s ease-in;
    padding-top: 1%;
}

.input-style {
    height: 25px;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
}

#Activity-name {
    border: 0px;
    border-bottom: 1px solid black;
}

.text-row {
    transition: all .5s ease;
}

@media screen and (max-width: 780px){

    .table-col {
        padding-left: 4%;
        padding-right: 4%;
    }

    .mylist {
        padding: 0%;
        margin: 0%;
        position: relative;
        left: 5%;
        border: 1px solid;
        box-shadow: 3px 4px 1px 2px rgba(0, 0, 0, 0.815);
        max-width: 700px;
    }

    .header {
        background-image: url("Images/checklist4.jpg");
        background-size: 900px;
        height: 100%;
        background-repeat: no-repeat;
    }

    #close {
        display: none;
        /* position: relative; */
        left: 300px;
    }

    .blue-top {
        height: 25px;
    }
    
    form.quick-form {
        display: none;
    }

    .topend-links ul.end-links {
        display: inline;
    }

    ul.end-links li {
        display: none;
    }

    .secondary-nav h3 {
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    
    .second-sec img {
        margin-left: 40%;
        height: 200px;
    }
    
    .fourth-row img {
        height: 290px;
        width: 60%;
        margin-left: 20%;
        transition: all .5s ease;
    }

    .secondary-nav h3 {
        margin-left: 20%;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    

    .sixth-sec img {
        height: 300px;
        width: 360px;
    }

    .frames-col {
        margin-left: 20%;
    }

    .index p {
        margin-left: 20%;
    }

    #date {
        margin-top: 30%;
        color: white;
    }
    
    .Todo-sec {
        margin-top: 5px;
        margin-left: 10%;
        margin-right: 10%;
        height: 700px;
        
    }

    .top-bar h3 {
        margin-left: 10%;
    }

}

@media screen and (max-width: 590px){
    .hide-user {
        margin-left: 90%;
        display: inline-block;
    }
};
